run = "npm start"
entrypoint = "index.js"
modules = ["nodejs-18:v3-20240117-3f08513"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"

[languages]

[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[languages.javascript.languageServer]
start = ["typescript-language-server", "--stdio"]

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false